*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  display: block;
  background-image: url("images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

ul li{
  list-style: none;
  margin: 10px;
}

h1{
  font-family: 'Euphoria Script', cursive;
  font-size: 40px;
}

.left{
  align-items: center;
  margin: auto;
}

.left img{
  width: 10%;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}


.main{
  opacity: 0.9;
  height: 430px;
  border-radius: 5px;
  margin: 10px;
}

.isi{
  text-align: center;
  width: 80%;
  height: 80%;
  margin: 20px auto;
  padding:30px;
  border-radius: 10px;
  border: 1px solid white;
  top: 30px;
  color: white;
}



.logo{
  width:10%;
  margin: auto;
}


.skillset ul li{
  text-align: left;
  border: none;
  border-radius: 5px;
  color: white;
  opacity: .9;
  padding-left: 10px;
}

.speak{
  width: 80%;
  background-color: #8C3269;
}

.listen{
  width:85%;
  background-color: #5B2F77;
}
.team{
  width: 90%;
  background-color: #8C3269;
}
.write{
  width: 80%;
  background-color: #5B2F77;
}
.creative{
  width: 85%;
  background-color: #8C3269;
}

.imgbox{
  width: 400px;
  height: 1000px;
  margin: 20px auto 10px;
  float: left;
}

.interest img{
  width: 100%;
  border: 4px solid #ffffff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.thumb ul{
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interest ul li img{
  width: 120px;
  margin:auto;
}
